$buttonBackgrounds: (
  primary:   $primary,
  secondary: $secondary,
  danger:    $danger,
  success:   $success,
);

// Buttons + Forms

$control-height-sm:         30px;
$control-height:            38px;
$control-height-lg:         50px;

$control-padding-x-sm:      .75rem;
$control-padding-x:         1rem;
$control-padding-x-lg:      2rem;


// ================================== ->
// -- Base Class --
// ================================== ->

.input{height: 50px;}
.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: $control-height;
  padding: 0 $control-padding-x;
  border-radius: 0.25rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: transparent;
  background: #ece9e9;
  transition: background-color 0.15s ease-in-out;
  
  &:hover {
    text-decoration: none;
    background-color: darken(#ece9e9, 5%);
  }

  &.focus,
  &:focus{
    outline: none;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}




// Create Button Variations
// ================================== ->
@each $key, $value in $buttonBackgrounds {
  .btn-#{$key} {
    @extend .btn;
    background-color: $value;
    color: setTextColor($primary);
    
    @include hover {
      text-decoration: none;
      color: #fff;
      background-color: darken($value, 5%);
    }
    @include active{
      background-color: lighten($value, 5%);
    }
  }
}


// -- Size Modifiers --
// ================================== ->
.btn-sm {
  @include buttonSize($control-padding-x-sm, $font-size-sm, $control-height-sm);
}

.btn-lg {
  @include buttonSize($control-padding-x-lg, $font-size-lg, $control-height-lg);
}